.aboutPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  margin: 1.6rem;
}

.titleImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.4rem;
}

.titleImage img {
  width: 50rem;
  height: auto;
  margin-bottom: 2.4rem;
}

.aboutTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.4rem;
}

.aboutMeImage {
  width: 25%;
  height: auto;
}

.aboutMeImage img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.textCategory {
  font-weight: var(--semi-bold-font-weight);
}

.downloads {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloadsContent {
  display: flex;
  justify-content: center;
}

.resumeLink {
  text-decoration: none;
  font-weight: var(--semi-bold-font-weight);
  font-size: var(--secondary-title-font-size);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark-blue);
  border-radius: 1rem;
  width: 50rem;
  height: 46rem;
  max-width: 40rem;
  margin: 2.4rem;
  padding: 1.6rem;
  cursor: pointer;
}

.resumeLink:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}