.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem;
  max-width: calc(3 * 40rem + 2 * 2.4rem);
  margin: 0 auto;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark-blue);
  border-radius: 1rem;
  width: 50rem;
  height: 46rem;
  max-width: 40rem;
  margin: 2.4rem;
  padding: 1.6rem;
  cursor: pointer;
}

.projectCard img {
  border-radius: 1rem;
}

.projectCard:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.projectTitle {
  font-size: var(--secondary-title-font-size);
  font-weight: var(--semi-bold-font-weight);
  margin: 1.6rem;
}
