.footer {
    position: relative;
    background-color: var(--color-dark-blue);
    width: 100%;
    padding: 2rem 2.8rem;
    box-sizing: border-box;
    z-index: 20;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20rem;
    max-width: 100%;
    margin: 0 auto;
}

.contactContainer a {
    text-decoration: none;
    color: var(--color-text);
}

.contactContainer a:hover {
    color: var(--color-dark-yellow);
}

.logoContainer {
    flex-shrink: 0;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoContainer img {
    width: 10rem;
    height: auto;
}

.addressText, .contactText {
    margin: 0.8rem;
    margin-left: 0;
    line-height: 1.5;
}

.socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.socialIcons {
    display: flex;
    gap: 1.6rem;
}

.addressTitle, .contactTitle, .socialTitle {
    font-size: var(--text-title-font-size);
    font-weight: var(--semi-bold-font-weight);
    margin-bottom: 0.8rem;
}

.logoText {
    font-family: var(--font-family-alice);
    font-size: var(--text-title-font-size);
    margin-top: 0.8rem;
}