.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}

.projectLinkIcon:hover {
  content: url("../../img/clouds/linkClouds/websiteActive.svg");
}
.processLinkIcon:hover {
  content: url("../../img/clouds/linkClouds/processActive.svg");
}

.repoLinkIcon:hover {
  content: url("../../img/clouds/linkClouds/repositoryActive.svg");
}

.repoLinkIcon,
.projectLinkIcon,
.processLinkIcon {
  margin: 2.8rem;
  cursor: pointer;
}

.projectTitleImage {
  width: 50rem;
  height: auto;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

.projectImage {
  width: 115rem;
  height: auto;
  margin-bottom: 2.8rem;
}

.aboutTitle,
.yearTitle {
  font-weight: var(--semi-bold-font-weight);
  font-size: var(--text-title-font-size);
}

.projectText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.6rem;
  width: 115rem;
  max-width: 100%;
}
